<div class="footer" id="footer">
    <p>Copyright © 2024 <a class="flink" href="https://hexo.io">Hexo</a>-<a class="flink" href="https://github.com/sanjinhub/hexo-theme-geek">Geek</a>.
        <label class="el-switch el-switch-green el-switch-sm" style="vertical-align: sub;">
            <input type="checkbox" name="switch" id="update_style">
            <span class="el-switch-style"></span>
        </label>
    </p>
</div>

<input type="hidden" id="web_style" value="<%= theme.style %>">
<input type="hidden" id="valine_appid" value="<%= theme.valine.appId %>">
<input type="hidden" id="valine_appKey" value="<%= theme.valine.appKey %>">
<%- js('libs/jquery.min.js') %>
<%- js('libs/highlight/highlight.pack.js') %>
<script src='//cdn.jsdelivr.net/npm/valine@1.3.10/dist/Valine.min.js'></script>
<%- js('js/js.js') %>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const themeStyleInput = document.getElementById('web_style');
        const logo = document.getElementById('logo');
        const themeSwitch = document.getElementById('update_style');

        // 设置初始状态
        function initializeTheme() {
            // 从 localStorage 中读取主题
            const storedTheme = localStorage.getItem('theme') || 'white';
            const isBlackTheme = storedTheme === 'black';
            themeStyleInput.value = storedTheme;
            themeSwitch.checked = isBlackTheme;  // black 主题时按钮激活
            updateTheme(isBlackTheme);
        }

        // 更新 logo 和主题
        function updateTheme(isBlackTheme) {
            if (isBlackTheme) {
                logo.src = 'img/logo1.png';
                document.body.classList.add('black-theme');
                document.body.classList.remove('white-theme');
            } else {
                logo.src = 'img/logo.png';
                document.body.classList.add('white-theme');
                document.body.classList.remove('black-theme');
            }
        }

        // 初始化页面主题
        initializeTheme();

        // 监听主题切换
        themeSwitch.addEventListener('change', function() {
            const isBlackTheme = themeSwitch.checked;
            themeStyleInput.value = isBlackTheme ? 'black' : 'white';
            updateTheme(isBlackTheme);
            // 将当前主题存储到 localStorage 中
            localStorage.setItem('theme', themeStyleInput.value);
        });
    });
</script>





<style type="text/css">
.v * {
    color: #698fca;
}

.v .vlist .vcard .vhead .vsys {
    color: #3a3e4a;
}

.v .vlist .vcard .vh .vmeta .vat {
    color: #638fd5;
}

.v .vlist .vcard .vhead .vnick {
    color: #6ba1ff;
}

.v a {
    color: #8696b1;
}

.v .vlist .vcard .vhead .vnick:hover {
    color: #669bfc;
}
</style>
